@import "tailwindcss";


@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

html {
  user-select: none;
}
.swiper {
  z-index: 0 !important;
}

  .custom-pagination {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .custom-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: rgba(255,255,255,0.9);
    opacity: 1;
    border-radius: 999px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .custom-pagination .swiper-pagination-bullet-active {
    width: 24px;
    height: 8px;
    background: #ffff;
    border-radius: 999px;
  }

.main .swiper-button-next, .swiper-button-prev {
  display: none !important;
}

/* progress bar container */

.main .swiper-pagination-progressbar {
    top: 105% !important;
}
.mySwiper .swiper-slide {
  max-width: 270px;
}

.swiper {
 position: static !important;
}   
.swiper-pagination-progressbar-fill {
  background: #141718 !important; /* dark fill */
  border-radius: 999px !important;
  transition: transform 0.3s ease !important;
  border-radius: 50%;
}

@theme {
    --color-primary: #000000;
    --color-blue: #377DFF;
    --color-green: #38CB89;
    --color-orange: #FFAB00;
    --color-red: #FF5630;

    /* Neutral */
    --color-neutral-1: #fff;
    --color-neutral-2: #F3F5F7;
    --color-neutral-3: #E8ECEF;
    --color-neutral-4: #6C7275;
    --color-neutral-5: #343839;
    --color-neutral-6: #232627;
    --color-neutral-7: #141718;

    /* font family */
    --font-poppins: "Poppins", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
  
}

@media  (min-width: 1024px) {
  
.news {
  background: url(./assets/images/newsletter.webp);
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
}
@media  (max-width: 1023px) {
  
.news {
  background: url(./assets/images/PromoBanner.webp);
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
}